.ContentBox{
    margin: 0px 10%;
    background-color: whitesmoke;
    box-shadow: black 15px 10px 10px;
    border-radius: 5px;
}

.image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.Cards-List{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
    min-width: 200px;
    margin: auto;
}




